@font-face {
  font-family: 'iconfont';  /* Project id 4823083 */
  src: url('//at.alicdn.com/t/c/font_4823083_rznm979u9p.woff2?t=1739003815235') format('woff2'),
       url('//at.alicdn.com/t/c/font_4823083_rznm979u9p.woff?t=1739003815235') format('woff'),
       url('//at.alicdn.com/t/c/font_4823083_rznm979u9p.ttf?t=1739003815235') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}



