//  color 
$theme: #00c651; // 主题色   主要用做文字移入变色或者选中变色
$theme-hover: #00bb4c; // 鼠标移入变色   主要用做确认按钮移入变色

$theme-dark: #00953c; // 深色主题色 参考官网
$theme-dark-hover: #00953b; // 深色主题色 参考官网

$black: #000;
$white: #fff;
